<!-- Wedding -->
<section class="mbr-fullscreen cid-image cid-wedding-image">
  <div class="mbr-overlay" style="opacity: 0.8; background-color: #46505263;">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
          <div class="d-flex justify-content-between align-items-center">
            <header class="widgets">
              <div class="widget-title">
                <div class="title-name">
                  Wedding
                </div>
              </div>
            </header>
            <div class="icon-red" style="font-size: 24px;">
              <i class="fa fa-heart"></i>
            </div>
          </div>
          <div class="text-center color-black mb-1">
            <p style="font-weight: 700;">Assalamu'alaikum Warahmatullahi Wabarakatuh</p>
            <span>Dengan memohon Rahmat dan Ridho Allah Subhanahu Wa Ta'alla yang telah menciptakan makhluk-Nya
              berpasang-pasangan,</span>
              <span>kami bermaksud menyelenggarakan pernikahan putra-putri kami</span> 
          </div>
          <div class="cnt-center">
            <div class="text-left">
              <h1>Yayuk Setiawan</h1>
              <p>Putra Ketiga Dari Bpk. Sujar & Ibu Mikem</p>
            </div>
            <div class="text-center icon-red" style="font-size: 45px; font-weight: 900;">&</div>
            <div class="text-right">
              <h1>Anis Setyaningsih</h1>
              <p>Putri Ketiga Dari Bpk.Wasino & Ibu Sukiyem</p>
            </div>
          </div>
         <div class="text-center color-black mt-1">
           <span>untuk mengikuti Syari'at Agama-Mu dan  mengikuti Sunnah Rasul-Mu dalam membentuk keluarga Sakinah, Mawaddah,
            Warahmah.</span>
         </div>
         <div class="cnt-audio mt-4" style="opacity: 0.5;">
          <audio controls>
            <source src="../../../assets/audio/Uje - Bidadari Surga Ku.mp3" type="audio/mp3">
          </audio>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end -->

<!-- Repsepsi -->
<section class="mbr-fullscreen cid-image cid-repsepsi-image">
<div class="mbr-overlay" style="opacity: 0.8; background-color: #46505263">
 <div class="container">
   <div class="row justify-content-md-center">
     <div class="mbr-white col-md-10">
      <div class="title-header">
        Tanggal & Acara
      </div>
      <div class="cnt-acara">
        <p class="title-cnt-acr text-center color-black">Jum'at 9 Oktober 2020</p>
        <div class="d-flex justify-content-between align-items-center color-black" style="margin-bottom: 1rem;">
          <div>
            <p>Akad Nikah :</p>
            <span>Pukul 08:00 WIB</span>
          </div>
          <div>
            <p>Repsepsi Pernikahan :</p>
            <span>Pukul 09:00 WIB s/d Selesai</span>
          </div>
        </div>
        <h3 class="title-cnt-acr text-center color-black">Bertempat di Kediaman Mempelai Wanita</h3>
        <div class="text-center">Kalampok RT 04/RW 04, Guwo Wonosegoro</div> 
         <h5 class="text-center">Boyolali - Jawa Tengah</h5>
        <div class="text-center mt-3">
          <img src="../../../assets/image/qr-1.png" alt="">
        </div>
        <div class="text-right" style="font-size: 1.3em; font-weight: 700; margin-top: 56px;">
          <a href="https://maps.app.goo.gl/7hBmMUBzxKF4VdxCA" title="Klik"><i class="fa fa-map-marker mr-1"></i>Google Map</a>
        </div>
      </div>
     </div>
   </div>
 </div>
</div>
</section>
<!-- End -->
<!-- Penutup -->
<section class="mbr-fullscreen cid-image cid-penutup-image">
  <div class="mbr-overlay" style="opacity: 0.8; background-color: #46505263">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10" style="height: 69vh;">
          <div class="title-header">
            Penutup
          </div>
          <div class="color-black">
            <h5 class="text-center f-family-century">Bismillahirrahmaanirrahiim</h5>
            <p class="text-center">Dengan menyebut nama Allah Yang Maha Pengasih lagi Maha Penyayang</p>
            <span>Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila Bapak/Ibu 
              /Saudara/i berkenan hadir untuk memberikan do'a restu kepada kedua mempelai. 
              Atas Kehadiran dan do'a restunya kami ucapkan terima kasih.</span>
            <p class="title-cnt-acr text-center">Kami Yang Berbahagia</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="f-family-century">
                <h5>Kel. Bpk. Sujar</h5>
                <h5>& Ibu Mikem</h5>
              </div>
              <div class="f-family-century">
                <h5>Kel. Bpk. Wasino</h5>
                <h5>& Ibu Sukiyem</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="color-black col-md-10 f-family-century text-center">
          <h3 class="title-cnt-acr">Terima Kasih</h3>
          <p class="color-red">*Tetap Mengunakan Protokol Kesehatan Untuk
            Mencegah/Penularan virus COVID-19 Di INDONESIA 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->
