/* You can add global styles to this file, and also import other style files */
body {
    cursor: pointer;
}

.icon-red {
    color: red;
}

.text {
    &-center {
        text-align: center;
    }
    &-left{
        text-align: left;
    }
    &-right {
        text-align: right;
    }
}

.color {
    &-black {
        color: #000;
    }
    &-red {
        color: red;
    }
}

.f-family {
    &-century {
        font-family: Century Gothic;
    }
}